[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
coverage = "*"
rope = "*"
pytest = "*"

[packages]
alembic = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-mail = "*"
gunicorn = "==19.9.0"

[requires]
python_version = "3.7"
