.home__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "receivable received"
        "chart chart";
    grid-gap: 5px;
    display: grid;
    padding: 5px;
}

.home__billing {
    box-shadow:
        0px 0px 1px 1px rgba(0, 0, 0, .1),
        0px 0px 1px 1px rgba(0, 0, 0, .1);
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    position: relative;
    border-radius: 2px;
    font-weight: 500;
    color: white;
    height: 150px;
    display: grid;
}

.home__billing h2 {
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    display: flex;
    height: 100%;
}

.home__billing span {
    background-color: rgba(0, 0, 0, .1);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.home__billing img {
    position: absolute;
    height: 30px;
    opacity: .2;
    right: 5px;
    top: 5px;
}

.home__billing--received {
    grid-area: received;
    background-color: #00a65a;
}

.home__billing--receivable {
    grid-area: receivable;
    background-color: #f39c12;
}

.home__billing__line_chart {
    grid-area: chart;
}

.home__billing__line_chart_card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    background-color: white;
    border-radius: 3px;
    padding: 16px;
}

@media(min-width: 768px) {
    .home__content {
        margin: 0 auto;
        width: 720px;
    }

    .home__billing h2 {
        font-size: 2rem;
    }

    .home__billing span {
        font-size: 1.2rem;
    }
}