.register__content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.register__form {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: white;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px;
    width: 290px;
}

.register__form::before {
    background-color: $primary-color;
    border-radius: 2px 2px 0 0;
    position: absolute;
    width: 288px;
    height: 3px;
    content: "";
    left: 0px;
    top: 0;
}

.register__form_group {
    flex-direction: column;
    display: flex;
    margin: 8px 0;
}

.register__form_label {
    margin-bottom: 5px
}

.register__form_input {
    outline-color: $primary-color;
    border: 1px solid lightgrey;
    padding: 8px;
    height: 35px;
}

.register__form_button {
    background-color: $primary-color;
    border-radius: 2px;
    max-width: 75px;
    cursor: pointer;
    color: white;
    border: none;
    padding: 8px;
}

.register__form_input--error {
    border: 1px solid #dd4b39;
    outline: none;
}

.register__message--error {
    color: #dd4b39;
}

@media(min-width: 768px) {
    .register__form {
        padding: 10px 16px;
        min-width: 315px;
    }

    .register__form::before {
        min-width: 313px;
    }
}

@media(min-width: 1024px) {
    .register__form {
        padding: 10px 16px;
        min-width: 350px;
    }

    .register__form::before {
        min-width: 348px;
    }
}