* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    background-color: $background-color;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    color: $text-primary-color;
    display: grid;
    grid-template-areas:
        "nav"
        "content";
}

.nav {
    grid-area: nav;
}

.content {
    grid-area: content;
}