{% extends "layout.html" %}

{% block content %}
<main class="home__content">
    <section class="home__billing home__billing--received">
        <h2>R$ {{ total_billing_received }}</h2>
        <span>Received</span>
        <img src="{{ url_for('static', filename='wallet.svg') }}" alt="icon">
    </section>

    <section class="home__billing home__billing--receivable">
        <h2>R$ {{ total_billing_receivable }}</h2>
        <span>Receivable</span>
        <img src="{{ url_for('static', filename='wallet.svg') }}" alt="icon">
    </section>
</main>
{% endblock %}