<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://cdn.rawgit.com/jgthms/minireset.css/master/minireset.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    {% if title %}
    <title>Finance - {{ title }}</title>
    {% else %}
    <title>Finance</title>
    {% endif %}
</head>

<body>
    {% if current_user.is_authenticated %}
    <nav class="nav">
        <span class="nav__brand">Finance</span>
        <ul>
            <li class="nav__item">
                <a href="{{ url_for('core.home') }}">Home</a>
            </li>
            <li class="nav__item">
                <a href="{{ url_for('billing.pagination') }}">Billing</a>
            </li>
            <li class="nav__item">
                <a href="{{ url_for('user.logout') }}">Logout</a>
            </li class="nav__item">
        </ul>
    </nav>
    {% else %}
    <nav class="nav">
        <span class="nav__brand">Finance</span>
        <ul>
            <li class="nav__item">
                <a href="{{ url_for('user.login') }}">Login</a>
            </li>
            <li class="nav__item">
                <a href="{{ url_for('user.register') }}">Register</a>
            </li>
        </ul>
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <span>{{ message }}</span>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <script src="{{ url_for('static', filename='app.min.js') }}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>