{% extends "layout.html" %}

{% block content %}

<main class="content login__content">
    <form class="login__form" method="POST">
        {{ form.hidden_tag() }}

        <div class="login__form_group">
            {{ form.email.label }}
            {{ form.email }}
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>

        <div class="login__form_group">
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>

        <div class="login__form_group">
            {{ form.remember.label }}
            {{ form.remember }}
        </div>

        <div class="login__form_group">
            {{ form.submit }}
        </div>
    </form>
</main>

{% endblock %}