{% extends "layout.html" %}

{% block content %}

<main class="content login__content">
    <form class="login__form" method="POST">
        {{ form.hidden_tag() }}

        <div class="login__form_group">
            {{ form.email.label(class="login__form_label") }}
            {{ form.email(class="login__form_input") }}
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>

        <div class="login__form_group">
            {{ form.password.label(class="login__form_label") }}
            {{ form.password(class="login__form_input") }}
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>

        <div class="login__form_group login__form_group--inline">
            {{ form.remember.label(class="login__form_label") }}
            {{ form.remember(class="login__form_input") }}
        </div>

        <div class="login__form_group">
            {{ form.submit(class="login__form_button") }}
        </div>
    </form>
</main>

{% endblock %}