{% extends "layout.html" %}

{% block content %}

<main class="content login__content">
    <form class="login__form" method="POST" novalidate>
        {{ form.hidden_tag() }}

        <div class="login__form_group">
            {% with has_error = form.email.errors %}

            {{ form.email.label(class="login__form_label") }}

            {% if has_error %}
            {{ form.email(class="login__form_input login__form_input--error") }}
            {% for error in form.email.errors %}
            <span class="login__message--error">{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.email(class="login__form_input") }}
            {% endif %}

            {% endwith %}
        </div>

        <div class="login__form_group">
            {% with has_error = form.password.errors %}

            {{ form.password.label(class="login__form_label") }}

            {% if has_error %}
            {{ form.password(class="login__form_input login__form_input--error") }}
            {% for error in form.password.errors %}
            <span class="login__message--error">{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.password(class="login__form_input") }}
            {% endif %}

            {% endwith %}
        </div>

        <div class="login__form_group login__form_group--inline">
            {{ form.remember.label(class="login__form_label") }}
            {{ form.remember(class="login__form_input") }}
        </div>

        <div class="login__form_group">
            {{ form.submit(class="login__form_button") }}
        </div>
    </form>
</main>

{% endblock %}