{% extends "layout.html" %}

{% block content %}
<main class="register__content">
    <form class="register__form" method="POST" novalidate>
        {{ form.hidden_tag() }}

        <div class="register__form_group">
            {% with has_error = form.name.errors %}

            {{ form.name.label(class="register__form_label") }}

            {% if has_error %}
            {{ form.name(class="register__form_input register__form_input--error") }}
            {% for error in form.name.errors %}
            <span class="register__message--error">{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.name(class="register__form_input") }}
            {% endif %}

            {% endwith %}
        </div>

        <div class="register__form_group">
            {% with has_error = form.email.errors %}

            {{ form.email.label(class="register__form_label") }}

            {% if has_error %}
            {{ form.email(class="register__form_input register__form_input--error") }}
            {% for error in form.email.errors %}
            <span class="register__message--error">{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.email(class="register__form_input") }}
            {% endif %}

            {% endwith %}
        </div>

        <div class="register__form_group">
            {% with has_error = form.password.errors %}

            {{ form.password.label(class="register__form_label") }}

            {% if has_error %}
            {{ form.password(class="register__form_input register__form_input--error") }}
            {% for error in form.password.errors %}
            <span class="register__message--error">{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.password(class="register__form_input") }}
            {% endif %}

            {% endwith %}
        </div>

        <div class="register__form_group">
            {% with has_error = form.confirm_password.errors %}

            {{ form.confirm_password.label(class="register__form_label") }}

            {% if has_error %}
            {{ form.confirm_password(class="register__form_input register__form_input--error") }}
            {% for error in form.confirm_password.errors %}
            <span class="register__message--error">{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.confirm_password(class="register__form_input") }}
            {% endif %}

            {% endwith %}
        </div>

        <div class="register__form_group">
            {{ form.submit(class="register__form_button") }}
        </div>
    </form>
</main>
{% endblock %}